@import "tailwindcss";

:root {
  --background: #171F12;
  --foreground: #222C1D;
  --footer: #222C1D;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #171F12;
    --foreground: #ededed;
    --footer: #222C1D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, Inter, sans-serif;
}
